<div class="jumbotron">
  <div class="container text-center">
    <h1>Mobiilipaketi kalkulaator</h1>
    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
    <p>Valige kõnepakett/kõnepaketid {{howManyDevices}}-le seadmele:</p>
  </div>
</div>
<div id="callContainer" class="container">
  <div class="row text-center card-deck">
    <label id="callPacketButton" class="card btn blue" *ngFor="let callPacket of callPackets"
           (click)="chooseCallPackets(callPacket)">
      <div class="custom-checkbox">
        <input type="checkbox" id="cb1">
        <label for="cb1"></label>
      </div>
      <h3 class="card-title">{{callPacket.name}}</h3>
      <p class="card-text">{{callPacket.description}}</p>
      <p>{{callPacket.price}} €/kuus</p>
    </label>
  </div>
</div>
<div class="text-center">
  <button routerLink="/review" [disabled]="!checkIfValidNumberOfCallPackets()"
          (click)="confirmCallPackets()" class="btn btn-success">Kinnita valik
  </button>
</div>
<div class="alert alert-danger container text-center" [hidden]="!chosenCallPacketsFail">
  Liiga palju kõnepakette valitud, jäetakse esmavalitud paketid.
</div>

