@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

/* css for the shiny buttons */
.btn {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}

.blue {
  color: black;
  border: 2px black solid;
}

.blue:hover {
  background-color: #5c7cee;
  color: #fff
}

.btn-success:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn-success {
  color: #f7ffef;
  border: 2px #119200 solid;
}

.buttons {
  padding-top: 30px;
  text-align: center;
}

.card {
  border-radius: 26px;
  background-color: #EEEEEE;
  border-style: solid;
  border-color: #5c7cee;
  border-width: 2px;
  font-family: 'Montserrat', sans-serif;
}

#callContainer {
  margin-top: 10%;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome, sans-serif;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */

.alert-danger{
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}
