<div class="container">
  <h3>Mingi kasulik kalkulaator!</h3>
  <div class="container__button">
    <button type="button" routerLink="/device" (click)="startSession()" name="btn btn-default">Alusta siit!</button>
  </div>
</div>
