@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* You can add global styles to this file, and also import other style files */
body{
  background-image: url("./assets/test.jpg");
  font-family: "Montserrat", sans-serif;
}

