<div class="jumbotron">
  <div class="container text-center">
    <h1>Mobiilipaketi kalkulaator</h1>
    <img src="../assets/devicesNew.png">
    <p>Valige seadmete arv:</p>
  </div>
</div>

<div id="deviceSelection" class="container">
  <div class="row text-center card-deck">
    <div class="col-sm-4 card">
      <img class="card-img-top img-responsive img-rounded" src="../assets/businessPhone.jpg">
      <button routerLink="/internet" (click)="chooseDeviceNumber(1)" class="btn blue">1 Seade
        <i class="fa fa-mobile fa-lg"></i>
      </button>
      <h4 class="card-title">Kui vajad lihtsaid asju.</h4>
    </div>
    <div id="youngCouple" class="col-sm-4 card">
      <img class="card-img-top img-responsive img-rounded" src="../assets/youngCouple.jpg">
      <button routerLink="/internet" (click)="chooseDeviceNumber(2)" class="btn blue">2 Seadet
        <i class="fa fa-mobile fa-lg"></i>
        <i class="fa fa-tablet fa-lg"></i>
      </button>
      <h4 class="card-title">Noorele paarile.</h4>
    </div>
    <div id="youngFamily" class="col-sm-4 card">
      <img class="card-img-top img-responsive img-rounded" src="../assets/youngFamily.jpg">
      <button routerLink="/internet" (click)="chooseDeviceNumber(3)" class="btn blue">3 Seadet
        <i class="fa fa-mobile fa-lg"></i>
        <i class="fa fa-tablet fa-lg"></i>
        <i class="fa fa-laptop fa-lg"></i>
      </button>
      <h4 class="card-title">Väiksele perele.</h4>
    </div>
  </div>
</div>
