@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

#cardContent {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

/* css for the shiny buttons */
.btn {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
}

.red {
  color: #ee5241;
  border: 2px #ee5750 solid;
}

.red:hover {
  background-color: #ee715e;
  color: #fff
}

.buttons {
  padding-top: 30px;
  text-align: center;
}

.card {
  border-radius: 26px;
  background-color: #EEEEEE;
  border-style: solid;
  border-color: #5c7cee;
  border-width: 2px;
  font-family: 'Montserrat', sans-serif;
}

th, td{
  text-align: center;
  vertical-align:middle;
  font-size: 15px;
}

#reviewSelection {
  margin-top: 30px;
}

#totalPrice {
  border-width: 2px;
  border-radius: 26px;
  border-color: #5c7cee;
  border-style: solid;
  max-height: 350px;
}

