<div id="print-section">
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Mobiilipaketi kalkulaator</h1>
      <i class="fa fa-navicon fa-3x" aria-hidden="true"></i>
      <p>Teie kokkuvõte:</p>
    </div>
  </div>

  <div id="reviewSelection" class="container">
    <div class="row text-center card-deck">
      <div class="col-sm-8 card">
        <h3> Sinu valikud: </h3>
        <div id="cardContent">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Seadmeid valikus: {{endUser.numberOfDevices}}</td>
              </tr>
            </tbody>
          </table>
          <h3> Teie valitud internetipakett: </h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Paketi nimi</th>
                <th>Maht</th>
                <th>Lisateenus</th>
                <th>Hind</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{endUser.internetPacket.name}}</td>
                <td>{{endUser.internetPacket.size}}</td>
                <td>{{endUser.internetPacket.extra}}</td>
                <td>{{endUser.internetPacket.price}} €/kuus</td>
              </tr>
            </tbody>
          </table>
          <h3> Teie valitud kõnepaketid: </h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Paketi nimi</th>
                <th>Kirjeldus</th>
                <th>Hind</th>
              </tr>
            </thead>
            <tbody *ngFor="let callPackage of finalCallPackages">
              <tr>
                <td>{{callPackage.name}}</td>
                <td>{{callPackage.description}}</td>
                <td>{{callPackage.price}} €/kuus</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="totalPrice" class="col-md-4 jumbotron">
        <h2>Kuumakse hind {{endUser.numberOfDevices}} seadme peale: </h2>
        <h2>{{totalPrice}} €</h2>
        <div class="text-center">
          <button class="btn red" (click)="print()">Prindi</button>
        </div>
      </div>
    </div>
  </div>
</div>


