<nav class="navbar navbar-toggleable-md navbar-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"routerLink="/intro">Esileht
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.disabled]="!checkIfDevicesHaveBeenChosen()"
           routerLink="/device">Seadmed
          <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.disabled]="!checkIfDevicesHaveBeenChosen()"
           routerLink="/internet">Internetipaketid
          <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.disabled]="!checkIfInternetPacketHasBeenChosen()"
           routerLink="/call">Kõnepaketid
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.disabled]="!checkIfCallPacketHasBeenChosen()"
           routerLink="/review">Kokkuvõte
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
