.navbar {
  border: 0;
  border-radius: 0;
  background: black;
  padding: 0;
  margin: 0;
  height: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
}

.nav-item {
  margin-right: 20px;
}

.navbar-brand{
  margin-right: -8px;
}

a.disabled {
  color: gray;
  pointer-events: none;
  cursor: not-allowed;
}
