@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

#internetContainer {
  margin-top: 50px;
}

/* css for the shiny buttons */
.btn {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
}

.blue {
  color: black;
}

.blue:hover {
  background-color: #5c7cee;
  color: #fff;
}

.buttons {
  padding-top: 30px;
  text-align: center;
}

#internetSelection {
  margin-top: 7%;
}

.card {
  border-radius: 26px;
  background-color: #EEEEEE;
  border-style: solid;
  border-color: #5c7cee;
  border-width: 2px;
  font-family: 'Montserrat', sans-serif;
}
