<div class="jumbotron">
  <div class="container text-center">
    <h1>Mobiilipaketi kalkulaator</h1>
    <i class="fa fa-signal fa-2x" aria-hidden="true"></i>
    <p>Valige internetipakett:</p>
  </div>
</div>
<div id="internetContainer" class="container-fluid">
  <div class="row">
    <div id="internetSelection" class="card-deck col-md-12 text-center">
      <div class="btn blue card" *ngFor="let internetPacket of internetPackets"
           routerLink="/call" (click)="chooseInternetPacket(internetPacket)">
        <h3 class="card-title">{{internetPacket.name}}</h3>
        <p class="card-text">{{internetPacket.size}}</p>
        <p>{{internetPacket.extra}}</p>
        <p>{{internetPacket.price}} €/kuus</p>
      </div>
    </div>
  </div>
</div>

